<div>
  <div class="user_container">
    <img class="photo" src=<%= @user.photo %>>
    <div class="user-info">
      <h1><%= @user.name%></h1>
      <h4>Number of posts: <%= @user.postscounter%></h4>
    </div>
  </div>
  <div>
    <% @posts.includes(:author).each_with_index do |post, index|%>
      <div class="post">
        <h3><%=link_to 'Post # ', user_post_path(@user.id, post), :class => 'link'%><%=index%></h3>
        <strong><%= post.title%></strong> written by <strong><%=post.author.name%></strong>
        <p><%= post.text%></p>
      <p class="like-comment">Comments: <%= post.comments_counter%> Likes: <%= post.likes_counter%></p>
      </div>
      <div class="comments">
        <% post.recent_comments.each do |comment|%>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <%end%>
      </div>
    <%end%>
  </div>
  <button>Pagination</button>
  <button><%= link_to 'Add a post', new_user_post_path %></button>
</div>