<h2>Post #<%= @post.id%></h2>
      <p>Comments: <%= @post.comments_counter%></p>
      <p>Likes: <%= @post.likes_counter%></p>
            <p>Post text: <%= @post.text%></p>
      <% @post.comments.each do |comment|%>
        <p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
      <%end%>